.formulario{
    padding-top: 2rem;

    .formulario-contacto{

        .casilla{
            padding-bottom: .5rem;
                
            .nombre{
                height: 3rem;
                width: 30rem;
                padding: 1rem;
                border-style: solid;
                border-width: .2rem;
                border-color: black;
                border-radius: 2rem;
            }
            .email{
                padding: 1rem;
                height: 3rem;
                width: 30rem;
                border-style: solid;
                border-width: .2rem;
                border-color: black;
                border-radius: 2rem;
            }
            .telefono{
                padding: 1rem;
                height: 3rem;
                width: 30rem;
                border-style: solid;
                border-width: .2rem;
                border-color: black;
                border-radius: 2rem;
            }
        }  
        .casilla-texto{
            .text-area{
                padding: 1rem;
                height: 10rem;
                width: 30rem;
                border-style: solid;
                border-width: .2rem;
                border-color: black;
                border-radius: 2rem;
            }
        }
        .botones{
            .boton-enviar{
                padding: .5rem;
                height: 3rem;
                width: 15rem;
                border-style: solid;
                border-width: .2rem;
                border-color: black;
                border-radius: 2rem;
            }
            .boton-borrar{
                padding: .5rem;
                height: 3rem;
                width: 15rem;
                border-style: solid;
                border-width: .2rem;
                border-color: black;
                border-radius: 2rem;
            }
        }
    }
}