.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "item1  item2 "
    "item3  item4";
    
    .grid-item1{
        transition:1s;
        grid-area: item1; 
    }
    .grid-item1:hover{
        transform: scale(1,1) translateY(-30px);
    }  
    .grid-item2{
        grid-area: item2;
        transition:1s;
    }
    .grid-item2:hover{
        transform: scale(1,1) translateY(-30px);
    }    
    .grid-item3{
        grid-area: item3;
        transition: 1s;
    }
    .grid-item3:hover{
        transform: scale(1,1) translateY(-30px);
    }    
    .grid-item4{
        grid-area: item4;
        transition:1s;
    }
    .grid-item4:hover{
        transform: scale(1,1) translateY(-30px);
    }    
    .link-grid{
        color: black;
        text-decoration: none;
    }
    .grid-image{
        margin-top: 3rem;
        height: 400px;
        width: 330px;
        border-radius: 3%;
    }
    .grid-titulo{
        max-width: 50%;
        text-align: center;
        letter-spacing: 1px;
        line-height:1.5;
        margin: 4px auto 10px;
    }
    .grid-sub{
        max-width: 50%;
        font-size: 16px;
        text-align: center;
        letter-spacing: .5px;
        margin: 4px auto 10px;
    }
}