.bienvenidos{
    display: block;
    text-align: center;
    
    .bienvenidos-titulo{
        padding-bottom: 20px;
        width: 22rem;
        border-bottom: 1px solid black;
        margin: 0 auto 30px;
    }
}
.moda{
    display: block;
    text-align: center;
    
    .moda-titulo{
        padding-bottom: 20px;
        width: 10rem;
        border-bottom: 1px solid black;
        margin: 0 auto 30px;
    }
}
.tendencias{
    display: block;
    text-align: center;
    
    .tendencias-titulo{
        padding-bottom: 20px;
        width: 10rem;
        border-bottom: 1px solid black;
        margin: 0 auto 30px;
        font-weight: bold;
        font-size: 1.8rem;
        color: black;
    }
}
.lifestyle{
    display: block;
    text-align: center;
   
    .lifestyle-titulo{
        padding-bottom: 20px;
        width: 10rem;
        border-bottom: 1px solid black;
        margin: 0 auto 30px;
    }
}
.viajes{
    display: block;
    text-align: center;
   
    .viajes-titulo{
        padding-bottom: 20px;
        width: 10rem;
        border-bottom: 1px solid black;
        margin: 0 auto 30px;
        font-weight: bold;
        font-size: rem;
        color: black;
    }
}
.contacto{
    display: block;
    text-align: center;
    .contacto-titulo{
        padding-bottom: 20px;
        width: 10rem;
        border-bottom: 1px solid black;
        margin: 0 auto 30px;
    }
}
